<div class="login-wrapper" fxLayout="row" fxFlex="66%" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>I be-live</mat-card-title>
    </mat-card-header>
    <mat-divider matInset></mat-divider>
    <mat-card-content>
      <span>
        <p>
          For everyone, who be-live(being alive) with a taste that they cherish and love to share it to make everbody's life better with the taste
          they love.
        </p>
        <p>
          A way to share joy and happiness that can make a difference for at
          least few moments in others' lives.
        </p>
        <p>Hope you enjoy the joy of sharing the taste!</p>
      </span>
    </mat-card-content>
    <mat-divider matInset></mat-divider>
  </mat-card>
</div>
